<form id="publication-form" method="post" action="{% url 'edit_publication' %}" class="form-horizontal" role="form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="role" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        {{ publication_form.title }}
    </div>
  </div>
  <div class="form-group">
    <label for="organization" class="col-sm-2 control-label">Publisher</label>
    <div class="col-sm-10">
        {{ publication_form.publisher }}
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        {{ publication_form.description }}
    </div>
  </div>
  <input id="publication_item_id" type="hidden" name="item_id" value=""/>
</form>