<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top"   data-spy="affix" data-offset-top="255" data-offset-bottom="200">
	<ul class="nav bs-docs-sidenav">
	 	<li class = "active"><a href="#summary"><i class="fa fa-file-text fa-fw"></i> Summary</a></li>
		<li class><a href="#experience"><i class="fa fa-building fa-fw"></i> Experience</a></li>
		<li class><a href="#projects"><i class="fa fa-th-list fa-fw"></i> Projects</a></li>
		<li class><a href="#education"><i class="fa fa-graduation-cap fa-fw"></i> Education</a></li>
		<li class><a href="#profile"><i class="fa fa-users fa-fw"></i> Profiles</a></li>
		<li class><a href="#publications"><i class="fa fa-book fa-fw"></i> Publications</a></li>
		<li class><a href="#certifications"><i class="fa fa-certificate fa-fw"></i> Certifications</a></li>
		<li class><a href="#skills"><i class="fa fa-anchor fa-fw"></i> Skills</a></li>
		<li class><a href="#courses"><i class="fa fa-server fa-fw"></i> Courses</a></li>
		<li class><a href="#awards"><i class="fa fa-trophy fa-fw"></i> Awards</a></li>
		<li class><a href="#languages"><i class="fa fa-language fa-fw"></i> Languages</a></li>
		<li class><a href="#contact"><i class="fa fa-phone fa-fw"></i> Contact</a></li>
	</ul>    			
</nav>