<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top"   data-spy="affix" data-offset-top="255" data-offset-bottom="200">
	<ul class="nav bs-docs-sidenav">
	 	<li class = "active"><a href="#summary"><i class="fa fa-file-text"></i> Summary</a></li>
		<li class><a href="#experience"><i class="fa fa-building"></i> Experience</a></li>
		<li class><a href="#projects"><i class="fa fa-th-list"></i> Projects</a></li>
		<li class><a href="#education"><i class="fa fa-graduation-cap"></i> Education</a></li>
		<li class><a href="#link"><i class="fa fa-external-link-square"></i> Links</a></li>
		<li class><a href="#publications"><i class="fa fa-book"></i> Publications</a></li>
		<li class><a href="#certifications"><i class="fa fa-certificate"></i> Certifications</a></li>
		<li class><a href="#skills"><i class="fa fa-anchor"></i> Skills</a></li>
		<li class><a href="#courses"><i class="fa fa-server"></i> Courses</a></li>
		<li class><a href="#awards"><i class="fa fa-trophy"></i> Awards</a></li>
		<li class><a href="#languages"><i class="fa fa-language"></i> Languages</a></li>
		<li class><a href="#contact"><i class="fa fa-phone"></i> Contact</a></li>
	</ul>    			
</nav>