<div class="bs-docs-section">
	<h3 id="experience" class="page-header"><a href="#experience"><i class="fa fa-building"></i> Experience</a></h3>
	<div id="experience-list">
		{% for item in request.user.user_profile.experience_section.experience_items.all %}
			<div class="experience-item" val="2">
				{% include "mycraze/item/experience.html" %}
			</div>
		{% endfor %}
	</div>
	<button type="button" id="add-experience" class="btn btn-default"><i class="fa fa-plus"></i> Add Experience</button>
</div>