{% if user.user_profile.experience_section.is_active or has_edit_permission %}
<div class="panel panel-default">
	<div class="panel-body">
		<div class="bs-docs-section">
			{% if user.user_profile.experience_section.is_active %}
				<div id="experience-section" class="bs-docs-section"> 
			{% else %}
				<div id="experience-section" class="bs-docs-section section-inactive">
			{% endif %}
					<h3 id="experience" class="page-header"><a href="#experience"><i class="fa fa-building fa-fw"></i> Experience</a>
					   {% if has_edit_permission %}
							{% if user.user_profile.experience_section.is_active %}
								{% include "mycraze/widget/section-toggle.html" with active="show" section="experience" %}
							{% else %}
								{% include "mycraze/widget/section-toggle.html" with active="hide" section="experience"%}
							{% endif %}
					   {% endif %}
					</h3>
				<div id="experience-list">
					{% for item in user.user_profile.experience_section.experience_items.all %}
						{% include "mycraze/item/experience.html" %}
					{% endfor %}
				</div>
				{% if has_edit_permission %}
				<button type="button" id="add-experience" class="btn btn-default"><i class="fa fa-plus"></i> Add Experience</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}