<div class="panel panel-default">
  <div class="panel-body">
<div class="bs-docs-section">
{% if request.user.user_profile.language_section.is_active %}
			<div id="language-section" class="bs-docs-section"> 
		{% else %}
			<div id="language-section" class="bs-docs-section section-inactive">
		{% endif %}
	<h3 id="languages" class="page-header"><a href="#languages"><i class="fa fa-language fa-fw"></i> Languages</a>
		{% if request.user.user_profile.language_section.is_active %}
					{% include "mycraze/widget/section-toggle.html" with active="show" section="language" %}
				{% else %}
					{% include "mycraze/widget/section-toggle.html" with active="hide" section="language"%}
				{% endif %} 
	</h3>
	<div id="language-list">
		{% for item in request.user.user_profile.language_section.language_items.all %}
			{% include "mycraze/item/language.html" %}
		{% endfor %}
	</div>
	<button type="button" id="add-language" class="btn btn-default"><i class="fa fa-plus"></i> Add Language</button>
</div>
</div></div></div>