<div class="panel panel-default">
	<div class="panel-body">
		<div class="bs-docs-section">
			{% if user.user_profile.profile_section.is_active %}
				<div id="profile-section" class="bs-docs-section"> 
			{% else %}
				<div id="profile-section" class="bs-docs-section section-inactive">
			{% endif %}
			<h3 id="profile" class="page-header">
				{% if has_edit_permission %}
				    {% if user.user_profile.profile_section.is_active %}
						{% include "mycraze/widget/section-toggle.html" with active="show" section="profile" %}
					{% else %}
						{% include "mycraze/widget/section-toggle.html" with active="hide" section="profile" %}
					{% endif %}
				{% endif %}
				<a href="#profile"><i class="fa fa-user fa-fw"></i>
					Profiles</a>
			</h3>
			<div class="row">
				{% for profile in stackoverflow_profile_list %}
					<div class="text-center col-md-2">
				  		<a href="https://www.stackoverflow.com/users/{{profile.uid}}" target="_blank" class="thumbnail">
    						<span class="fa-stack fa-3x">
  								<i class="fa fa-stack-overflow fa-stack-3x"></i>
  							</span>
      						<p>{{profile.uid}}</p>
    					</a>
    				</div>
				{% endfor %}
			</div>
			{% if has_edit_permission %}
			     <p><a href = "{% url 'social:begin' 'stackoverflow' %}?next={{ request.path }}" class="btn btn-default home-custom" role="button"><i class="fa fa-plus"></i> Add Stackoverflow Profile</a></p>
			{% endif %}
		</div>
	</div>
</div>
</div>