<div class="panel panel-default">
	<div class="panel-body">
		<div class="bs-docs-section">
			{% if request.user.user_profile.profile_section.is_active %}
				<div id="profile-section" class="bs-docs-section"> 
			{% else %}
				<div id="profile-section" class="bs-docs-section section-inactive">
			{% endif %}
			<h3 id="profile" class="page-header">
			{% if request.user.user_profile.profile_section.is_active %}
					{% include "mycraze/widget/section-toggle.html" with active="show" section="profile" %}
				{% else %}
					{% include "mycraze/widget/section-toggle.html" with active="hide" section="profile" %}
				{% endif %}
				<a href="#profile"><i class="fa fa-user fa-fw"></i>
					Profiles</a>
			</h3>
			<div class='bs-callout bs-callout-info'>
				<h4 class='lead'><span><i class="fa fa-stack-overflow fa-fw"></i> Stackoverflow</span></h4>
				{% for profile in stackoverflow_profile_list %}
					<ul><li><a href="https://www.stackoverflow.com/users/{{profile.uid}}" target="_blank">https://www.stackoverflow.com/users/{{profile.uid}}</a></li></ul>
				{% endfor %}
			</div>
			<p><a href = "{% url 'social:begin' 'stackoverflow' %}?next={{ request.path }}" class="btn btn-default home-custom" role="button"><i class="fa fa-plus"></i> Add Stackoverflow Profile</a></p>
		</div>
	</div>
</div>
</div>