{% if user.user_profile.project_section.is_active or has_edit_permission %}
<div class="panel panel-default">
	<div class="panel-body">
		<div class="bs-docs-section">
			{% if user.user_profile.project_section.is_active %}
				<div id="project-section" class="bs-docs-section"> 
			{% else %}
				<div id="project-section" class="bs-docs-section section-inactive">
			{% endif %}
			<h3 id="projects" class="page-header"><a href="#projects"><i class="fa fa-th-list fa-fw"></i> Projects</a>
			    {% if has_edit_permission %}
				{% if user.user_profile.project_section.is_active %}
					{% include "mycraze/widget/section-toggle.html" with active="show" section="project" %}
				{% else %}
					{% include "mycraze/widget/section-toggle.html" with active="hide" section="project"%}
				{% endif %}
				{% endif %}
			</h3>
				<div id="project-list">
				{% for item in user.user_profile.project_section.project_items.all %}
					{% include "mycraze/item/project.html" %}
				{% endfor %}
				</div>
				{% if has_edit_permission %}
				    <button type="button" id="add-project" class="btn btn-default"><i class="fa fa-plus"></i> Add Project</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}