{% if user.user_profile.summary_section.is_active or has_edit_permission %}
<div class="panel panel-default">
	<div class="panel-body">
		{% if user.user_profile.summary_section.is_active %}
			<div id="summary-section" class="bs-docs-section"> 
		{% else %}
			<div id="summary-section" class="bs-docs-section section-inactive">
		{% endif %}
			<h3 id="summary" class="page-header">
				<a href="#summary"><i class="fa fa-file-text fa-fw"></i> Summary</a>
				{% if has_edit_permission %}
					{% if user.user_profile.summary_section.is_active %}
						{% include "mycraze/widget/section-toggle.html" with active="show" section="summary" %}
					{% else %}
						{% include "mycraze/widget/section-toggle.html" with active="hide" section="summary"%}
					{% endif %}
				{% endif %}
			</h3>
			<div class="bs-callout bs-callout-info">
			     {% if has_edit_permission %}
				    {% include "mycraze/widget/section-edit-dropdown.html" with dataTarget="#edit-summary-modal" %}
				 {% endif %}
				<p id="summary-content" class="lead">{{user.user_profile.summary_section.content}}</p>
			</div>
		</div>
	</div>
</div>
{% endif %}