.bs-docs-footer {
padding-top: 15px;
padding-bottom: 15px;
color: #777;
text-align: center;
border-top: 1px solid #e5e5e5;
}

.bs-docs-masthead, .bs-docs-header{
	color: #ffffff;
	background-image: linear-gradient(to bottom,#226AA8 0,#428BCA 100%);
}


.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active:focus>a{
	color: #FFFFFF;
	background-color: #428BCA;
	border-left: none;
	font-weight: bolder;
}

.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
	color: #226AA8;
	background-color: rgba(0,0,0,0.1);
	border-left: none;
}

.bs-docs-sidebar .nav>li>a {
	font-size: 14px;
	border-radius: 4px;
	padding: 10px 20px;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
	color: #226AA8;
}

.btn-outline-inverse {
	border-color: #ffffff;
}

.form-control {
	color: black;
}

.bs-callout-info {
	border-radius: 4px;
	border-left-color: #428BCA;
}

.bs-callout-info h4 {
	color: #428BCA;
}

.bs-docs-header h1 {
	font-size: 48px;
}

h1[id] {
    padding-top: 0;
}

.bs-callout {
	padding: 10px;
	border-width: 0px 0px 0px 5px;
}

.bs-callout > h4.lead {
	font-weight: bolder;
	color: black;
}

h3.page-header {
	font-weight: bolder;	
}

.panel {
	margin-bottom: 10px;
}

.bs-docs-section > h3.page-header {
	margin: 0 0 10px;
    padding-bottom: 5px;
}

.lead {
	font-size: 18px;
}

h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
	font-size: 90%;
}

.skill, .course {
	line-height: 1;
}