.bs-docs-footer {
padding-top: 15px;
padding-bottom: 15px;
color: #777;
text-align: center;
border-top: 1px solid #e5e5e5;
}

.bs-docs-masthead, .bs-docs-header{
	color: #ffffff;
	background-image: linear-gradient(to bottom,#226AA8 0,#428BCA 100%);
}


.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active:focus>a{
	color: #FFFFFF;
	background-color: #428BCA;
	border-left: none;
	font-weight: 500;
}

.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
	color: #226AA8;
	background-color: rgba(0,0,0,0.1);
	border-left: none;
}

.bs-docs-sidebar .nav>li>a {
	font-size: 14px;
	border-radius: 4px;
	padding: 10px 20px;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
	color: #226AA8;
}

.btn-outline-inverse {
	border-color: transparent;
}

.form-control {
	color: black;
}