{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %} Base Title {% endblock %} | MyCraze
		</title>
		{% block css %}
			<!-- Bootstrap -->
			<link href="{% static "mycraze/css/bootstrap.min.css" %}" rel="stylesheet">
			<!-- Bootstrap docs -->
			<link href="{% static "mycraze/css/docs.min.css" %}" rel="stylesheet">
			<!-- Awesome fonts IO -->
			<link href="{% static "mycraze/css/font-awesome.min.css" %}" rel="stylesheet">
			<!-- MyCraze -->
			<link href="{% static "mycraze/css/mycraze.css" %}" rel="stylesheet">
			<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
			  <script src="{% static "mycraze/js/html5shiv.min.js" %}"></script>
			  <script src="{% static "mycraze/js/respond.min.js" %}"></script>
			<![endif]-->
		{% endblock %}
	</head>
	<body{% if "/mycraze/user-resume/" in request.path %} data-spy="scroll" data-target=".bs-docs-sidebar" {% endif %}>

		{% block header %}
			{% include "mycraze/tile/header.html" %}
		{% endblock %}

		{% block content %}
		{% endblock %}

		{% block hidden %}
		{% endblock %}

		{% block footer %}
			{% include "mycraze/tile/footer.html" %}  
		{% endblock %}
	</body>
	{% block javascript %}
		<script src="{% static 'mycraze/js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'mycraze/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript">
		   var staticURL = "{% static 'mycraze/images/ajax-loader.gif' %}";
		   var imageHTML = "<p><img class='img-responsive center' src = '"+staticURL+"'/></p>";
		</script>
	{% endblock %}
</html>