<header class="navbar navbar-default" id="top" role="banner">
	<div class="container">
    	<div class="navbar-header">
  			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
    			<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a href="" class="navbar-brand">MyCraze</a>
    	</div>
    	<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
      		<ul class="nav navbar-nav">
                <li class="{{ myWorkClass }}">
                    <a href="{% url 'my_work' user.id %}"><i class="fa fa-area-chart"></i> My Work</a>
                </li>
      			<li class="{{ resumeClass }}">
          			<a href="{% url 'resume' user.id %}"><i class="fa fa-file-text"></i> Resume</a>
        		</li>
        		<form method="get" action="{% url 'users' %}" class="navbar-form navbar-left" role="search">
					<div class="form-group input-group">
					    <input type="hidden" name="criteria" value="all"/>
						<input type="text" name="q" class="form-control" placeholder="Search">
						<span class="input-group-btn">
    						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
				<li class="{{ usersClass }}">
                    <a href="{% url 'users' %}"><i class="fa fa-users"></i> Users</a>
                </li>
      		</ul>
      		<ul class="nav navbar-nav navbar-right">
        		<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
      		</ul>
    	</nav>
  	</div>
</header>