<header class="navbar navbar-default" id="top" role="banner">
	<div class="container">
    	<div class="navbar-header">
  			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
    			<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a href="" class="navbar-brand">MyCraze</a>
    	</div>
    	<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
      		<ul class="nav navbar-nav">
            <li class="{{ myWorkClass }}">
                <a href=""><i class="fa fa-cubes"></i> My Work</a>
            </li>
      			<li class="{{ resumeClass }}">
          			<a href=""><i class="fa fa-file-text-o"></i> Resume</a>
        		</li>
        		<form class="navbar-form navbar-left" role="search">
					<div class="form-group input-group">
						<input type="text" class="form-control" placeholder="Search">
						<span class="input-group-btn">
    						<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
      		</ul>
      		<ul class="nav navbar-nav navbar-right">
        		<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
      		</ul>
    	</nav>
  	</div>
</header>