{% extends "mycraze/tile/base.html" %}
{% load staticfiles %}
{% block title %} My Work {% endblock %}
{% block header %}
    {% include "mycraze/tile/header.html" with myWorkClass="active"%}
{% endblock %}
{% block content %}
    <!-- Sub Header -->
    <div class="bs-docs-header" id="content">
        {% include "mycraze/tile/sub-header.html" %}
    </div>
    <div class="container bs-docs-container">
        <div class="row">
            <!-- Side pane content -->
            <div class="col-md-3" role="complementary">
                {% include "mycraze/widget/my-work-side-pane.html" %}
            </div>
            <!-- Main content of side pane sections -->
            <div class="col-md-9" role="main">
                {% include "mycraze/work/stack-overflow.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block hidden %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static "mycraze/js/highstock.js" %}"></script>
<script src="{% static "mycraze/js/tag-chart.js" %}"></script>
<script src="{% static "mycraze/js/reputation-chart.js" %}"></script>
<script type="text/javascript">
$( document ).ready(function() {
    fetchProfiles = function(data){
        var profiles = [];
        $.each(data, function(i, obj) {
              profiles.push(obj.fields.uid);
        });
        return profiles;
    }
    getStackoverflowProfileList = function(){
        var list;
        $.ajax({
            type: 'GET',
            url: "{% url 'get_stackoverflow_profiles' %}",
            success: function (data) {
               list = fetchProfiles(data);
               //renderTagsChart(list);
               renderReputationsChart(list);
            },
            error: function(data) {
            },
            complete : function() {
            	return list;
            }
        }); 
    }
    getStackoverflowProfileList();
});
</script>
{% endblock %}