  {% extends "mycraze/tile/base.html" %}
  {% load staticfiles %}
  {% block title %} Complete Profile {% endblock %}
  {% block css %}
  {{ block.super }}
<!--Page specific styles-->
  <style>
      .control-label {
        color: #000000;
      }
      .well {
        background-color: rgba(245, 245, 245, 0.5);
      }
      input[type=file] {
        color: #000000;
      }
  </style>
  {% endblock %}
  {% block header %} {% endblock %}
  {% block content %}
      <main class="bs-docs-masthead">
        <div class="container">
          <h1>MyCraze</h1>
          <p class="lead">You are just one step away from creating an account!</p>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="well">
                {% include "mycraze/form/profile-form.html" %}
              </div>
            </div>
          </div>
        </div>
      </main>
  {% endblock %}