{% extends "mycraze/tile/base.html" %}
{% load staticfiles %}
{% block title %} Users {% endblock %}
{% block header %}
    {% include "mycraze/tile/header.html" with usersClass="active" %}
{% endblock %}
{% block content %}
    <div id="user-container" class="container bs-docs-container">
        <div class="row">
            <!-- Side pane content -->
            <div class="col-md-3" role="complementary">
                {% include "mycraze/widget/users-side-pane.html" %}
            </div>
            <!-- Main content of side pane sections -->
            <div class="col-md-9">
                <div class="row">
                    {% if not user_list %}
                        <h3 style="text-align: center;">Sorry, no results found! You may try refining your search.</h3>
                    {% else %}
                    {% for user in user_list %}
	                    <div class="text-center col-md-2">
	                        <a href="{% url 'resume' user.id %}" class="thumbnail">
	                            <img class="img-responsive" src="{{image_url}}{{ user.user_profile.profile_image }}"/>
	                            <b>{{user.first_name}} {{user.last_name}}</b>
	                        </a>
	                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block hidden %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
	$( document ).ready(function() {
		$(".search-criteria").on('click', function(event){
			event.preventDefault();
			var criteria = $(this).attr('data-criteria');
			$("#s-criteria").val(criteria);
			$("#search-form").submit();
		});
	});
</script>
{% endblock %}