{% extends "mycraze/tile/base.html" %}
{% load staticfiles %}
{% block title %} Resume {% endblock %}
{% block header %}
    {% include "mycraze/tile/header.html" with resumeClass="active"%}
{% endblock %}
{% block content %}
<!-- Sub Header -->
	<div class="bs-docs-header" id="content">
      	{% include "mycraze/tile/sub-header.html" %}
		<div class="pull-right">
			<button type="button" class="btn btn-outline-inverse" data-toggle="modal" data-target="#edit-profile-modal"><i class="fa fa-pencil"></i></button>
		</div>
    </div>
    <!-- Page Main Content -->
    <div class="container bs-docs-container">
    	<div class="row">
    		<!-- Side pane content -->
    		<div class="col-md-3" role="complementary">
    			{% include "mycraze/widget/side-pane.html" %}
    		</div>
    		<!-- Main content of side pane sections -->
   			<div class="col-md-9" role="main">
   				{% include "mycraze/section/summary.html" %}
				{% include "mycraze/section/experience.html" %}
				{% include "mycraze/section/projects.html" %}
				{% include "mycraze/section/education.html" %}
				{% include "mycraze/section/profiles.html" %}
				{% include "mycraze/section/publications.html" %}
				{% include "mycraze/section/certifications.html" %}
				{% include "mycraze/section/skills.html" %}
				{% include "mycraze/section/courses.html" %}
				{% include "mycraze/section/awards.html" %}
				{% include "mycraze/section/languages.html" %}
				{% include "mycraze/section/contact.html" %}
	   		</div>
	   	</div>
    </div>
{% endblock %}

{% block hidden %}
	{% include "mycraze/modal/edit-profile-modal.html"%}
	{% include "mycraze/modal/edit-summary-modal.html"%}
	{% include "mycraze/modal/edit-experience-modal.html"%}
    {% include "mycraze/modal/edit-project-modal.html"%}
    {% include "mycraze/modal/edit-education-modal.html"%}
    {% include "mycraze/modal/edit-publication-modal.html"%}
    {% include "mycraze/modal/edit-certification-modal.html"%}
    {% include "mycraze/modal/edit-skill-modal.html"%}
    {% include "mycraze/modal/edit-course-modal.html"%}
    {% include "mycraze/modal/edit-award-modal.html"%}
    {% include "mycraze/modal/edit-language-modal.html"%}    
	{% include "mycraze/modal/edit-contact-modal.html"%}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$( document ).ready(function() {
	var editForm = $('#edit-profile-form');
    var editExperienceItem;
    var editProjectItem;
    var editEducationItem;
    var editPublicationItem;
    var editCertificationItem;
    var editSkillItem;
    var editAwardItem;
    var editLanguageItem;
    var editCourseItem;

    //profile
	$("#edit-profile-data").on('click',function(){
		submitEditProfileDataForm();
	});

    //summary
	$("#edit-summary-data").on('click',function(){
		editSummaryData();
	});
	
	$(document).ready(function() {
	    $('input[type=radio][name=summary-section-toggle]').change(function() {
	        if (this.value == '1') {
	            editSummaryActiveStatus(true);
	        }
	        else if (this.value == '0') {
	        	editSummaryActiveStatus(false);
	        }
	    });
	});
    
    //experience
    $("#add-experience").on('click',function(){
        $("#experience_item_id").val(0);
        editExperienceForm(0);
    });

	$("#edit-experience-data").on('click',function(){
		editExperienceData($("#experience_item_id").val());
	});

    $("body").on('click','li.btn-edit-experience',function(event){
        event.preventDefault();
        var element = $(this).parent().parent().parent();
        var elementParent = element.parent();
        var itemId = element.find("input").val();
        editExperienceForm(itemId);
        editExperienceItem = elementParent;
    });
    
    $(document).ready(function() {
    		    $('input[type=radio][name=experience-section-toggle]').change(function() {
    		        if (this.value == '1') {
    		            editExperienceActiveStatus(true);
    		        }
    		        else if (this.value == '0') {
    		        	editExperienceActiveStatus(false);
    		        }
    		    });
    		});

    //project
    $("#add-project").on('click',function(){
        $("#project_item_id").val(0);
        editProjectForm(0);
    });

    $("#edit-project-data").on('click',function(){
        editProjectData($("#project_item_id").val());
    });

    $("body").on('click','li.btn-edit-project',function(event){
        event.preventDefault();
        var element = $(this).parent().parent().parent();
        var elementParent = element.parent();
        var itemId = element.find("input").val();
        editProjectForm(itemId);
        editProjectItem = elementParent;
    });
    
    $(document).ready(function() {
    	$('input[type=radio][name=project-section-toggle]').change(function() {
    		if (this.value == '1') {
    	    	editProjectActiveStatus(true);
    	    }
    	    else if (this.value == '0') {
    	       	editProjectActiveStatus(false);
    	    }
    	});
	});

    //education
    $("#add-education").on('click',function(){
        $("#education_item_id").val(0);
        editEducationForm(0);
    });

    $("#edit-education-data").on('click',function(){
        editEducationData($("#education_item_id").val());
    });

    $("body").on('click','li.btn-edit-education',function(event){
        event.preventDefault();
        var element = $(this).parent().parent().parent();
        var elementParent = element.parent();
        var itemId = element.find("input").val();
        editEducationForm(itemId);
        editEducationItem = elementParent;
    });
    
    $(document).ready(function() {
    	$('input[type=radio][name=education-section-toggle]').change(function() {
    		if (this.value == '1') {
    	    	editEducationActiveStatus(true);
    	    }
    	    else if (this.value == '0') {
    	       	editEducationActiveStatus(false);
    	    }
    	});
	});
    
    //profiles
    $(document).ready(function() {
    	$('input[type=radio][name=profile-section-toggle]').change(function() {
    		if (this.value == '1') {
    	    	editProfileActiveStatus(true);
    	    }
    	    else if (this.value == '0') {
    	       	editProfileActiveStatus(false);
    	    }
    	});
	});

    //publication
    $("#add-publication").on('click',function(){
        $("#publication_item_id").val(0);
        editPublicationForm(0);
    });

    $("#edit-publication-data").on('click',function(){
        editPublicationData($("#publication_item_id").val());
    });

    $("body").on('click','li.btn-edit-publication',function(event){
        event.preventDefault();
        var element = $(this).parent().parent().parent();
        var elementParent = element.parent();
        var itemId = element.find("input").val();
        editPublicationForm(itemId);
        editPublicationItem = elementParent;
    });
    
    $(document).ready(function() {
    	$('input[type=radio][name=publication-section-toggle]').change(function() {
    		if (this.value == '1') {
    	    	editPublicationActiveStatus(true);
    	    }
    	    else if (this.value == '0') {
    	       	editPublicationActiveStatus(false);
    	    }
    	});
	});

    //certification
    $("#add-certification").on('click',function(){
        $("#certification_item_id").val(0);
        editCertificationForm(0);
    });

    $("#edit-certification-data").on('click',function(){
        editCertificationData($("#certification_item_id").val());
    });

    $("body").on('click','li.btn-edit-certification',function(event){
        event.preventDefault();
        var element = $(this).parent().parent().parent();
        var elementParent = element.parent();
        var itemId = element.find("input").val();
        editCertificationForm(itemId);
        editCertificationItem = elementParent;
    });
    
    $(document).ready(function() {
    	$('input[type=radio][name=certification-section-toggle]').change(function() {
    		if (this.value == '1') {
    	    	editCertificationActiveStatus(true);
    	    }
    	    else if (this.value == '0') {
    	       	editCertificationActiveStatus(false);
    	    }
    	});
	});

    //skill
    $("#add-skill").on('click',function(){
        $("#skill_item_id").val(0);
        editSkillForm(0);
    });

    $("#edit-skill-data").on('click',function(){
        editSkillData($("#skill_item_id").val());
    });

    $("body").on('click','li.btn-edit-skill',function(event){
        event.preventDefault();
        var element = $(this).parent().parent().parent();
        var elementParent = element.parent();
        var itemId = element.find("input").val();
        editSkillForm(itemId);
        editSkillItem = elementParent;
    });
    
    $(document).ready(function() {
    	$('input[type=radio][name=skill-section-toggle]').change(function() {
    		if (this.value == '1') {
    	    	editSkillActiveStatus(true);
    	    }
    	    else if (this.value == '0') {
    	       	editSkillActiveStatus(false);
    	    }
    	});
	});

    //course
    $("#add-course").on('click',function(){
        $("#course_item_id").val(0);
        editCourseForm(0);
    });

    $("#edit-course-data").on('click',function(){
        editCourseData($("#course_item_id").val());
    });

    $("body").on('click','li.btn-edit-course',function(event){
        event.preventDefault();
        var element = $(this).parent().parent().parent();
        var elementParent = element.parent();
        var itemId = element.find("input").val();
        editCourseForm(itemId);
        editCourseItem = elementParent;
    });

    $(document).ready(function() {
    	$('input[type=radio][name=course-section-toggle]').change(function() {
    		if (this.value == '1') {
    	    	editCourseActiveStatus(true);
    	    }
    	    else if (this.value == '0') {
    	       	editCourseActiveStatus(false);
    	    }
    	});
	});
    
    //award
    $("#add-award").on('click',function(){
        $("#award_item_id").val(0);
        editAwardForm(0);
    });

    $("#edit-award-data").on('click',function(){
        editAwardData($("#award_item_id").val());
    });

    $("body").on('click','li.btn-edit-award',function(event){
        event.preventDefault();
        var element = $(this).parent().parent().parent();
        var elementParent = element.parent();
        var itemId = element.find("input").val();
        editAwardForm(itemId);
        editAwardItem = elementParent;
    });
    
    $(document).ready(function() {
    	$('input[type=radio][name=award-section-toggle]').change(function() {
    		if (this.value == '1') {
    	    	editAwardActiveStatus(true);
    	    }
    	    else if (this.value == '0') {
    	       	editAwardActiveStatus(false);
    	    }
    	});
	});

    //language
    $("#add-language").on('click',function(){
        $("#language_item_id").val(0);
        editLanguageForm(0);
    });

    $("#edit-language-data").on('click',function(){
        editLanguageData($("#language_item_id").val());
    });

    $("body").on('click','li.btn-edit-language',function(event){
        event.preventDefault();
        var element = $(this).parent().parent().parent();
        var elementParent = element.parent();
        var itemId = element.find("input").val();
        editLanguageForm(itemId);
        editLanguageItem = elementParent;
    });

    $(document).ready(function() {
    	$('input[type=radio][name=language-section-toggle]').change(function() {
    		if (this.value == '1') {
    	    	editLanguageActiveStatus(true);
    	    }
    	    else if (this.value == '0') {
    	       	editLanguageActiveStatus(false);
    	    }
    	});
	});
    
    //contact
	$("#edit-contact-data").on('click',function(){
		editContactData();
	});

	$(document).ready(function() {
    	$('input[type=radio][name=contact-section-toggle]').change(function() {
    		if (this.value == '1') {
    	    	editContactActiveStatus(true);
    	    }
    	    else if (this.value == '0') {
    	       	editContactActiveStatus(false);
    	    }
    	});
	});
	
    //profile
    submitEditProfileDataForm = function () {
        $.ajax({
            type: editForm.attr('method'),
            url: editForm.attr('action'),
            data: editForm.serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                $("#full-name").text(data.first_name + " " + data.last_name);
				$("#description").text(data.description);
				$("#edit-profile-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
        return false;
    };

    //summary
    editSummaryData = function () {
        $.ajax({
        	type: 'POST',
            url: "{% url 'edit_summary' %}",
            data: {
        		csrfmiddlewaretoken: '{{ csrf_token }}',
        		content: $("#summary-data").val(),
    		},
            beforeSend : function() {

            },
            success: function (data) {
            	$("#summary-content").text(data.content);
                $("#edit-summary-modal").modal('toggle');
            },
            error: function(data) {
                
            },
            complete : function() {
            	
            }
        });
    };
    
    editSummaryActiveStatus = function(status) {
    	$.ajax({
            type: 'POST',
            url: "{% url 'edit_summary_status' %}",
            data: {
            	csrfmiddlewaretoken: '{{ csrf_token }}',
            	status: status
            },
            beforeSend : function() {

            },
            success: function (data) {
            	if(data.status)
                	$("#summary-section").removeClass('section-inactive');
            	else
            		$("#summary-section").addClass('section-inactive');
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

    //experience
    editExperienceForm = function(itemId) {
        //get the form for add/edit experience for the user to either add or edit
        $.ajax({
            type: 'POST',
            url: "{% url 'get_experience_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: itemId,
            },
            beforeSend : function() {

            },
            success: function (data) {
                $("#edit-experience-modal").modal('show');                
                $("#experience-form-body").html(data);
                $("#experience_item_id").val(itemId);
                $("#edit-experience-data").attr("data-type", itemId);
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

	editExperienceData = function (itemId) {
        //this is called when the user submits the add/edit experience form
        $.ajax({
        	type: 'POST',
            url: "{% url 'edit_experience' %}",
            data: $("#experience-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                if(itemId == 0)
                    $("#experience-list").append(data)
                else if(itemId > 0)
                    editExperienceItem.html(data);
                $("#edit-experience-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
    };

    editExperienceActiveStatus = function(status) {
    	     	$.ajax({
    	             type: 'POST',
    	             url: "{% url 'edit_experience_status' %}",
    	             data: {
    	             	csrfmiddlewaretoken: '{{ csrf_token }}',
    	             	status: status
    	             },
    	             beforeSend : function() {
    	 
    	             },
    	             success: function (data) {
    	             	if(data.status)
    	                 	$("#experience-section").removeClass('section-inactive');
    	             	else
    	             		$("#experience-section").addClass('section-inactive');
    	             },
    	             error: function(data) {
    	                 
    	             },
    	             complete : function() {
    	                 
    	             }
    	         });
    	     }

    //project
    editProjectForm = function(itemId) {
        //get the form for add/edit project for the user to either add or edit
        $.ajax({
            type: 'POST',
            url: "{% url 'get_project_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: itemId,
            },
            beforeSend : function() {

            },
            success: function (data) {
                $("#edit-project-modal").modal('show');                
                $("#project-form-body").html(data);
                $("#project_item_id").val(itemId);
                $("#edit-project-data").attr("data-type", itemId);
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

    editProjectData = function (itemId) {
        //this is called when the user submits the add/edit project form
        $.ajax({
            type: 'POST',
            url: "{% url 'edit_project' %}",
            data: $("#project-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                if(itemId == 0)
                    $("#project-list").append(data)
                else if(itemId > 0)
                    editProjectItem.html(data);
                $("#edit-project-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
    };

    editProjectActiveStatus = function(status) {
     	     	$.ajax({
       	             type: 'POST',
       	             url: "{% url 'edit_project_status' %}",
       	             data: {
       	             	csrfmiddlewaretoken: '{{ csrf_token }}',
       	             	status: status
       	             },
       	             beforeSend : function() {
       	 
      	             },
       	             success: function (data) {
       	             	if(data.status)
       	                 	$("#project-section").removeClass('section-inactive');
       	             	else
       	             		$("#project-section").addClass('section-inactive');
       	             },
       	             error: function(data) {
       	                 
       	             },
       	             complete : function() {
       	                 
       	             }
       	         });
       	     }
    	
    //education
    editEducationForm = function(itemId) {
        //get the form for add/edit education for the user to either add or edit
        $.ajax({
            type: 'POST',
            url: "{% url 'get_education_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: itemId,
            },
            beforeSend : function() {

            },
            success: function (data) {
                $("#edit-education-modal").modal('show');                
                $("#education-form-body").html(data);
                $("#education_item_id").val(itemId);
                $("#edit-education-data").attr("data-type", itemId);
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

    editEducationData = function (itemId) {
        //this is called when the user submits the add/edit education form
        $.ajax({
            type: 'POST',
            url: "{% url 'edit_education' %}",
            data: $("#education-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                if(itemId == 0)
                    $("#education-list").append(data)
                else if(itemId > 0)
                    editEducationItem.html(data);
                $("#edit-education-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
    };

    editEducationActiveStatus = function(status) {
	     	$.ajax({
	             type: 'POST',
	             url: "{% url 'edit_education_status' %}",
	             data: {
	             	csrfmiddlewaretoken: '{{ csrf_token }}',
	             	status: status
	             },
	             beforeSend : function() {
	 
	             },
	             success: function (data) {
	             	if(data.status)
	                 	$("#education-section").removeClass('section-inactive');
	             	else
	             		$("#education-section").addClass('section-inactive');
	             },
	             error: function(data) {
	                 
	             },
	             complete : function() {
	                 
	             }
	         });
	     }
	
    //profiles
    editProfileActiveStatus = function(status) {
     	$.ajax({
             type: 'POST',
             url: "{% url 'edit_profile_status' %}",
             data: {
             	csrfmiddlewaretoken: '{{ csrf_token }}',
             	status: status
             },
             beforeSend : function() {
 
             },
             success: function (data) {
             	if(data.status)
                 	$("#profile-section").removeClass('section-inactive');
             	else
             		$("#profile-section").addClass('section-inactive');
             },
             error: function(data) {
                 
             },
             complete : function() {
                 
             }
         });
     }
    
    //publication
    editPublicationForm = function(itemId) {
        //get the form for add/edit publication for the user to either add or edit
        $.ajax({
            type: 'POST',
            url: "{% url 'get_publication_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: itemId,
            },
            beforeSend : function() {

            },
            success: function (data) {
                $("#edit-publication-modal").modal('show');                
                $("#publication-form-body").html(data);
                $("#publication_item_id").val(itemId);
                $("#edit-publication-data").attr("data-type", itemId);
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

    editPublicationData = function (itemId) {
        //this is called when the user submits the add/edit publication form
        $.ajax({
            type: 'POST',
            url: "{% url 'edit_publication' %}",
            data: $("#publication-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                if(itemId == 0)
                    $("#publication-list").append(data)
                else if(itemId > 0)
                    editPublicationItem.html(data);
                $("#edit-publication-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
    };

    editPublicationActiveStatus = function(status) {
     	$.ajax({
             type: 'POST',
             url: "{% url 'edit_publication_status' %}",
             data: {
             	csrfmiddlewaretoken: '{{ csrf_token }}',
             	status: status
             },
             beforeSend : function() {
 
             },
             success: function (data) {
             	if(data.status)
                 	$("#publication-section").removeClass('section-inactive');
             	else
             		$("#publication-section").addClass('section-inactive');
             },
             error: function(data) {
                 
             },
             complete : function() {
                 
             }
         });
     }
    
    //certification
    editCertificationForm = function(itemId) {
        //get the form for add/edit certification for the user to either add or edit
        $.ajax({
            type: 'POST',
            url: "{% url 'get_certification_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: itemId,
            },
            beforeSend : function() {

            },
            success: function (data) {
                $("#edit-certification-modal").modal('show');                
                $("#certification-form-body").html(data);
                $("#certification_item_id").val(itemId);
                $("#edit-publication-data").attr("data-type", itemId);
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

    editCertificationData = function (itemId) {
        //this is called when the user submits the add/edit certification form
        $.ajax({
            type: 'POST',
            url: "{% url 'edit_certification' %}",
            data: $("#certification-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                if(itemId == 0)
                    $("#certification-list").append(data)
                else if(itemId > 0)
                    editCertificationItem.html(data);
                $("#edit-certification-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
    };

    editCertificationActiveStatus = function(status) {
     	$.ajax({
             type: 'POST',
             url: "{% url 'edit_certification_status' %}",
             data: {
             	csrfmiddlewaretoken: '{{ csrf_token }}',
             	status: status
             },
             beforeSend : function() {
 
             },
             success: function (data) {
             	if(data.status)
                 	$("#certification-section").removeClass('section-inactive');
             	else
             		$("#certification-section").addClass('section-inactive');
             },
             error: function(data) {
                 
             },
             complete : function() {
                 
             }
         });
     }
    
    //skill
    editSkillForm = function(itemId) {
        //get the form for add/edit skill for the user to either add or edit
        $.ajax({
            type: 'POST',
            url: "{% url 'get_skill_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: itemId,
            },
            beforeSend : function() {

            },
            success: function (data) {
                $("#edit-skill-modal").modal('show');                
                $("#skill-form-body").html(data);
                $("#skill_item_id").val(itemId);
                $("#edit-publication-data").attr("data-type", itemId);
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

    editSkillData = function (itemId) {
        //this is called when the user submits the add/edit skill form
        $.ajax({
            type: 'POST',
            url: "{% url 'edit_skill' %}",
            data: $("#skill-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                if(itemId == 0)
                    $("#skill-list").append(data)
                else if(itemId > 0)
                    editSkillItem.html(data);
                $("#edit-skill-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
    };

    editSkillActiveStatus = function(status) {
     	$.ajax({
             type: 'POST',
             url: "{% url 'edit_skill_status' %}",
             data: {
             	csrfmiddlewaretoken: '{{ csrf_token }}',
             	status: status
             },
             beforeSend : function() {
 
             },
             success: function (data) {
             	if(data.status)
                 	$("#skill-section").removeClass('section-inactive');
             	else
             		$("#skill-section").addClass('section-inactive');
             },
             error: function(data) {
                 
             },
             complete : function() {
                 
             }
         });
     }
    
    //course
    editCourseForm = function(itemId) {
        //get the form for add/edit course for the user to either add or edit
        $.ajax({
            type: 'POST',
            url: "{% url 'get_course_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: itemId,
            },
            beforeSend : function() {

            },
            success: function (data) {
                $("#edit-course-modal").modal('show');                
                $("#course-form-body").html(data);
                $("#course_item_id").val(itemId);
                $("#edit-course-data").attr("data-type", itemId);
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

    editCourseData = function (itemId) {
        //this is called when the user submits the add/edit course form
        $.ajax({
            type: 'POST',
            url: "{% url 'edit_course' %}",
            data: $("#course-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                if(itemId == 0)
                    $("#course-list").append(data)
                else if(itemId > 0)
                    editCourseItem.html(data);
                $("#edit-course-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
    };

    editCourseActiveStatus = function(status) {
     	$.ajax({
             type: 'POST',
             url: "{% url 'edit_course_status' %}",
             data: {
             	csrfmiddlewaretoken: '{{ csrf_token }}',
             	status: status
             },
             beforeSend : function() {
 
             },
             success: function (data) {
             	if(data.status)
                 	$("#course-section").removeClass('section-inactive');
             	else
             		$("#course-section").addClass('section-inactive');
             },
             error: function(data) {
                 
             },
             complete : function() {
                 
             }
         });
     }
    
    //award
    editAwardForm = function(itemId) {
        //get the form for add/edit award for the user to either add or edit
        $.ajax({
            type: 'POST',
            url: "{% url 'get_award_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: itemId,
            },
            beforeSend : function() {

            },
            success: function (data) {
                $("#edit-award-modal").modal('show');                
                $("#award-form-body").html(data);
                $("#award_item_id").val(itemId);
                $("#edit-award-data").attr("data-type", itemId);
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

    editAwardData = function (itemId) {
        //this is called when the user submits the add/edit award form
        $.ajax({
            type: 'POST',
            url: "{% url 'edit_award' %}",
            data: $("#award-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                if(itemId == 0)
                    $("#award-list").append(data)
                else if(itemId > 0)
                    editAwardItem.html(data);
                $("#edit-award-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
    };
    
    editAwardActiveStatus = function(status) {
     	$.ajax({
             type: 'POST',
             url: "{% url 'edit_award_status' %}",
             data: {
             	csrfmiddlewaretoken: '{{ csrf_token }}',
             	status: status
             },
             beforeSend : function() {
 
             },
             success: function (data) {
             	if(data.status)
                 	$("#award-section").removeClass('section-inactive');
             	else
             		$("#award-section").addClass('section-inactive');
             },
             error: function(data) {
                 
             },
             complete : function() {
                 
             }
         });
     }

    //language
    editLanguageForm = function(itemId) {
        //get the form for add/edit award for the user to either add or edit
        $.ajax({
            type: 'POST',
            url: "{% url 'get_language_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: itemId,
            },
            beforeSend : function() {

            },
            success: function (data) {
                $("#edit-language-modal").modal('show');                
                $("#language-form-body").html(data);
                $("#language_item_id").val(itemId);
                $("#edit-language-data").attr("data-type", itemId);
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

    editLanguageData = function (itemId) {
        //this is called when the user submits the add/edit language form
        $.ajax({
            type: 'POST',
            url: "{% url 'edit_language' %}",
            data: $("#language-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                if(itemId == 0)
                    $("#language-list").append(data)
                else if(itemId > 0)
                    editLanguageItem.html(data);
                $("#edit-language-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
    };

    editLanguageActiveStatus = function(status) {
     	$.ajax({
             type: 'POST',
             url: "{% url 'edit_language_status' %}",
             data: {
             	csrfmiddlewaretoken: '{{ csrf_token }}',
             	status: status
             },
             beforeSend : function() {
 
             },
             success: function (data) {
             	if(data.status)
                 	$("#language-section").removeClass('section-inactive');
             	else
             		$("#language-section").addClass('section-inactive');
             },
             error: function(data) {
                 
             },
             complete : function() {
                 
             }
         });
     }
    
    //contact
    editContactData = function () {
        $.ajax({
        	type: 'POST',
            url: "{% url 'edit_contact' %}",
            data: $("#contact-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
            	$("#personal-email").text(data.personal_email);
            	$("#phone-number").text(data.phone_number);
                $("#edit-contact-modal").modal('toggle');
            },
            error: function(data) {
                
            },
            complete : function() {

            }
        });
        return false;
    };

    editContactActiveStatus = function(status) {
     	$.ajax({
             type: 'POST',
             url: "{% url 'edit_contact_status' %}",
             data: {
             	csrfmiddlewaretoken: '{{ csrf_token }}',
             	status: status
             },
             beforeSend : function() {
 
             },
             success: function (data) {
             	if(data.status)
                 	$("#contact-section").removeClass('section-inactive');
             	else
             		$("#contact-section").addClass('section-inactive');
             },
             error: function(data) {
                 
             },
             complete : function() {
                 
             }
         });
     }
});
</script>
{% endblock %}