{% extends "mycraze/tile/base.html" %}
{% load staticfiles %}
{% block title %} Resume {% endblock %}
{% block header %}
			{% include "mycraze/tile/header.html" with resumeClass="active"%}
{% endblock %}
{% block content %}
<!-- Sub Header -->
	<div class="bs-docs-header" id="content">
      	<div class="container">
			<div class="row">
				<div class="col-md-2">
					<img src="{{image_url}}{{ request.user.user_profile.profile_image }}" class="img-responsive" >
				</div>
				<div class="col-md-10">
        			<h1 id = "full-name">{{ request.user.first_name}} {{ request.user.last_name}}</h1>
        			<p id =  "description" class="lead">{{ request.user.user_profile.description }}</p>
        		</div>
        	</div>
      	</div>
		<div class="pull-right">
			<button type="button" class="btn btn-outline-inverse" data-toggle="modal" data-target="#edit-profile-modal"><i class="fa fa-pencil"></i></button>
		</div>
    </div>
    <!-- Page Main Content -->
    <div class="container bs-docs-container">
    	<div class="row">
    		<!-- Side pane content -->
    		<div class="col-md-3" role="main" role="complementary">
    			{% include "mycraze/widget/side-pane.html" %}
    		</div>
    		<!-- Main content of side pane sections -->
   			<div class="col-md-9">
   				{% include "mycraze/section/summary.html" %}
				{% include "mycraze/section/experience.html" %}
				{% include "mycraze/section/projects.html" %}
				{% include "mycraze/section/education.html" %}
				{% include "mycraze/section/links.html" %}
				{% include "mycraze/section/publications.html" %}
				{% include "mycraze/section/certifications.html" %}
				{% include "mycraze/section/skills.html" %}
				{% include "mycraze/section/courses.html" %}
				{% include "mycraze/section/awards.html" %}
				{% include "mycraze/section/languages.html" %}
				{% include "mycraze/section/contact.html" %}
	   		</div>
	   	</div>
    </div>
{% endblock %}

{% block hidden %}
	{% include "mycraze/modal/edit-profile-modal.html"%}
	{% include "mycraze/modal/edit-summary-modal.html"%}
	{% include "mycraze/modal/edit-experience-modal.html"%}
	{% include "mycraze/modal/edit-contact-modal.html"%}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$( document ).ready(function() {
	var editForm = $('#edit-profile-form');
    var editExperienceItem;
	$("#edit-profile-data").on('click',function(){
		submitEditProfileDataForm();
	});

	$("#edit-summary-data").on('click',function(){
		editSummaryData();
	});

    $("#add-experience").on('click',function(){
        $("#experience_item_id").val(0);
        editExperienceForm(0);
    });

	$("#edit-experience-data").on('click',function(){
		editExperienceData($("#experience_item_id").val());
	});

    $("body").on('click','li.btn-edit-experience',function(event){
        event.preventDefault();
        var element = $(this).parent().parent().parent();
        var elementParent = element.parent();
        itemId = element.find("input").val();
        editExperienceForm(itemId);
        editExperienceItem = elementParent;
    });

	$("#edit-content-data").on('click',function(){
		editContactData();
	});

    submitEditProfileDataForm = function () {
        $.ajax({
            type: editForm.attr('method'),
            url: editForm.attr('action'),
            data: editForm.serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                $("#full-name").text(data.first_name + " " + data.last_name);
				$("#description").text(data.description);
				$("#edit-profile-modal").modal('toggle');
            },
            error: function(data) {
                
            },
            complete : function() {
            	
            }
        });
        return false;
    };

    editSummaryData = function () {
        $.ajax({
        	type: 'POST',
            url: "{% url 'edit_summary' %}",
            data: {
        		csrfmiddlewaretoken: '{{ csrf_token }}',
        		content: $("#summary-data").val(),
    		},
            beforeSend : function() {

            },
            success: function (data) {
            	$("#summary-content").text(data.content);
                $("#edit-summary-modal").modal('toggle');
            },
            error: function(data) {
                
            },
            complete : function() {
            	
            }
        });
    };

    editExperienceForm = function(itemId) {
        //get the form for add/edit experience for the user to either add or edit
        $.ajax({
            type: 'POST',
            url: "{% url 'get_experience_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: itemId,
            },
            beforeSend : function() {

            },
            success: function (data) {
                $("#edit-experience-modal").modal('show');                
                $("#experience-form-body").html(data);
                $("#experience_item_id").val(itemId);
                $("#edit-experience-data").attr("data-type", itemId);
            },
            error: function(data) {
                
            },
            complete : function() {
                
            }
        });
    }

	editExperienceData = function (itemId) {
        //this is called when the user submits the add/edit experience form
        $.ajax({
        	type: 'POST',
            url: "{% url 'edit_experience' %}",
            data: $("#experience-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                if(itemId == 0)
                    $("#experience-list").append(data)
                else if(itemId > 0)
                    editExperienceItem.html(data);
                $("#edit-experience-modal").modal('toggle');
            },
            error: function(data) {

            },
            complete : function() {

            }
        });
    };

    editContactData = function () {
        $.ajax({
        	type: 'POST',
            url: "{% url 'edit_contact' %}",
            data: $("#contact-form").serialize(),
            beforeSend : function() {

            },
            success: function (data) {
            	$("#personal-email").text(data.personal_email);
            	$("#phone-number").text(data.phone_number);
                $("#edit-contact-modal").modal('toggle');
            },
            error: function(data) {
                
            },
            complete : function() {

            }
        });
        return false;
    };

});
</script>
{% endblock %}