{% extends "mycraze/tile/base.html" %}
{% load staticfiles %}
{% block title %} Resume {% endblock %}
{% block header %}
			{% include "mycraze/tile/header.html" with resumeClass="active"%}
{% endblock %}
{% block content %}
<!-- Sub Header -->
	<div class="bs-docs-header" id="content">
      	<div class="container">
			<div class="row">
				<div class="col-md-2">
					<img src="{{image_url}}{{ request.user.user_profile.profile_image }}" class="img-responsive" >
				</div>
				<div class="col-md-10">
        			<h1 id = "full-name">{{ request.user.first_name}} {{ request.user.last_name}}</h1>
        			<p id =  "description" class="lead">{{ request.user.user_profile.description }}</p>
        		</div>
        	</div>
      	</div>
		<div class="pull-right">
			<button type="button" class="btn btn-outline-inverse" data-toggle="modal" data-target="#edit-profile"><i class="fa fa-pencil"></i></button>
		</div>
    </div>
    <!-- Page Main Content -->
    <div class="container bs-docs-container">
    	<div class="row">
    		<!-- Side pane content -->
    		<div class="col-md-3" role="main" role="complementary">
    			<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top"   data-spy="affix" data-offset-top="255" data-offset-bottom="200">
            		 <ul class="nav bs-docs-sidenav">
            		 	<li class = "active"><a href="#summary"><i class="fa fa-file-text"></i> Summary</a></li>
						<li class><a href="#experience"><i class="fa fa-building"></i> Experience</a></li>
						<li class><a href="#projects"><i class="fa fa-th-list"></i> Projects</a></li>
						<li class><a href="#education"><i class="fa fa-graduation-cap"></i> Education</a></li>
						<li class><a href="#link"><i class="fa fa-external-link-square"></i> Links</a></li>
						<li class><a href="#publications"><i class="fa fa-book"></i> Publications</a></li>
						<li class><a href="#certifications"><i class="fa fa-certificate"></i> Certifications</a></li>
						<li class><a href="#skills"><i class="fa fa-anchor"></i> Skills</a></li>
						<li class><a href="#courses"><i class="fa fa-bookmark"></i> Courses</a></li>
						<li class><a href="#awards"><i class="fa fa-trophy"></i> Awards</a></li>
						<li class><a href="#languages"><i class="fa fa-language"></i> Languages</a></li>
						<li class><a href="#contact"><i class="fa fa-phone"></i> Contact</a></li>
					</ul>    			
    			</nav>
    		</div>
    		<!-- Main content of side pane sections -->
   			<div class="col-md-9">
   				<div class="bs-docs-section">
					<h2 id="summary" class="page-header"><a href="#summary"><i class="fa fa-file-text"></i> Summary</a>
						{% include "mycraze/section-edit-dropdown.html"%}
					</h2>
					<p id="summary-content" class="lead">{{ request.user.user_profile.summary_section.content}}</p>
				</div>
				<div class="bs-docs-section">
				<h2 id="experience" class="page-header"><a href="#experience"><i class="fa fa-building"></i> Experience</a></h2>
			</div>
			<div class="bs-docs-section">
				<h2 id="projects" class="page-header"><a href="#projects"><i class="fa fa-th-list"></i> Projects</a>
				</h2>
			</div>
			<div class="bs-docs-section">
				<h2 id="education" class="page-header"><a href="#education"><i class="fa fa-graduation-cap"></i> Education</a></h2>
			</div>
			<div class="bs-docs-section">
				<h2 id="link" class="page-header"><a href="#link"><i class="fa fa-external-link-square"></i> Links</a></h2>
			</div>
			<div class="bs-docs-section">
				<h2 id="publications" class="page-header"><a href="#publications"><i class="fa fa-book"></i> Publications</a></h2>
			</div>
			<div class="bs-docs-section">
				<h2 id="certifications" class="page-header"><a href="#certifications"><i class="fa fa-certificate"></i> Certifications</a></h2>
			</div>
			<div class="bs-docs-section">
				<h2 id="skills" class="page-header"><a href="#skills"><i class="fa fa-anchor"></i> Skills</a></h2>
			</div>
			<div class="bs-docs-section">
				<h2 id="courses" class="page-header"><a href="#courses"><i class="fa fa-bookmark"></i> Courses</a></h2>
			</div>
			<div class="bs-docs-section">
				<h2 id="awards" class="page-header"><a href="#awards"><i class="fa fa-trophy"></i> Awards</a></h2>
			</div>
			<div class="bs-docs-section">
				<h2 id="languages" class="page-header"><a href="#languages"><i class="fa fa-language"></i> Languages</a></h2>
			</div>
			<div class="bs-docs-section">
				<h2 id="contact" class="page-header"><a href="#contact"><i class="fa fa-phone"></i> Contact</a></h2>
			</div>
   		</div>
    </div>
{% endblock %}

{% block hidden %}
	{% include "mycraze/modal/edit-profile.html"%}
	{% include "mycraze/modal/edit-summary-modal.html"%}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
	var editForm = $('#edit-profile-form');

	$("#edit-profile-data").on('click',function(){
		submitEditProfileDataForm();
	});

	$("#edit-summary-data").on('click',function(){
		editSummaryData();
	});

    submitEditProfileDataForm = function () {
        $.ajax({
            type: editForm.attr('method'),
            url: editForm.attr('action'),
            data: editForm.serialize(),
            beforeSend : function() {

            },
            success: function (data) {
                $("#full-name").text(data.first_name + " " + data.last_name);
				$("#description").text(data.description);
				$("#edit-profile").modal('toggle');
            },
            error: function(data) {
                
            },
            complete : function() {
            	
            }
        });
        return false;
    };

    editSummaryData = function () {
        $.ajax({
        	type: 'POST',
            url: "{% url 'edit_summary' %}",
            data: {
        		csrfmiddlewaretoken: '{{ csrf_token }}',
        		content: $("#summary-data").val(),
    		},
            beforeSend : function() {

            },
            success: function (data) {
            	$("#summary-content").text(data.content);
                $("#edit-summary").modal('toggle');
            },
            error: function(data) {
                
            },
            complete : function() {
            	
            }
        });
        return false;
    };
</script>
{% endblock %}